body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.03em;
}
/* header Styles */
header {
	width: 70% !important;
	border: 0.3em solid black;
	margin-top: 5em;
	justify-content: center;
}
.face {
 	height: 12em;
    border-right: 0.3em solid;
    padding: 1em;
 }
 .title {
 	padding-top: 2em;
 	font-smoothing: 

 }

 /* pickWords Styles */
 #pickWords, #result {
	width: 70% !important;
	border: 0.3em solid black;
	border-top: none;
	margin: 0 auto;
	margin-top: -1.4em;
}
/* Animations */
/*when the animations starts hidding*/
#pickWords.ng-hide-add,
/*when the animations starts showing*/
#pickWords.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
#pickWords.ng-hide {
  opacity:0;
}

#result.ng-hide-add,
#result.ng-hide-remove {
  -webkit-transition:0.5s linear all 0.5s;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
#result.ng-hide {
  opacity:0;
}


#pickWords h3 {
	padding: 2em 0 1em 3.5em;
}
 .boxWrapper {
	margin-left: 3em;
	margin-bottom: 3em;
 }
 .box {
 	margin: 1em;
 	border: 0.3em solid;
 	text-align: center;
 	outline: none;
 }
 .box:focus {
 	background-color: lightgray;
 }
 .selected {
 	background: #d7444b;
 	outline: none;
 }
 h4 {
 	padding: 0 0 1em 5em;

 }
 .ng-invalid.ng-dirty{
 	border-color: #ad3c40;
 }
 .ng-valid.ng-dirty{
 	border-color: #58885a;
 }

/* error styles */
#error > li {
	color: #ad3c40;
	padding-left: 5em;
	font-size: 1.5em;
	list-style: none;
}


 /* results Styles */

 .madlib {
 	margin: 0 auto;
 	text-align: justify;
 	padding: 3em;
 	font-weight: normal;
 	font-size: 1.5em;
 }
 .buttonWrapper {
 	margin: 2em;
 }
 span {
 	text-decoration: underline;
 }

