<!DOCTYPE html>
<html lang="en" ng-app="">
	<head>
		<meta charset="UTF-8">
		<title>MadLibs</title>
		<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header class="container">
			<div class="row">
				<div class="col-md-2"><img class="face" src="images/mad-lib-happy-face.png" alt="smiling face"></div>
				<div class="col-md-8 col-md-offset-2 title"><img src="images/ng-mad-libs-logo.png" alt="ngMad Libs with Angular Logo"></div>
			</div>
		</header>
		<section id="pickWords">
			<h3>Please Provide the Following words:</h3>
			<div class="container ">
				<div class="row boxWrapper">
					<div class="col-md-3">
						<input class="box" type="text" ng-model="name" placeholder="name" />
						<input class="box" type="text" ng-model="jobTitle" placeholder="Job Title" />
						<input class="box" type="text" ng-model="tediousTask" placeholder="Tedious Task" />
					</div>
					<div class="col-md-3">
						<input class="box" type="text" ng-model="dirtyTask" placeholder="Dirty task" />
						<input class="box" type="text" ng-model="celebrity" placeholder="Celebrity" />
						<input class="box" type="text" ng-model="uselessSkill" placeholder="Useless skill" />
					</div>
					<div class="col-md-3">
						<input class="box" type="text" ng-model="adjective" placeholder="Obnoxious celebrity" />
						<input class="box" type="text" ng-model="obnoxiuous" placeholder="huge number" />
						<input class="box" type="text" ng-model="number" placeholder="Adjective" />
					</div>
				</div>
			</div>
		</section>
		<section id="result">
			<div class="content">
			<div class="row">
			<div class="col-md-12 madlib">
			<p>
				{{ name }} was a {{ jobTitle }} who loved technology. Although she loved parts of her job, she absolutely hated {{ tediousTask }} and {{ dirtyTask }}. So, {{ name }} met with her life mentor {{ celebrity }} who told her to learn how to {{ uselessSkill }} with Thinkful. Thinkful didn't offer a course on {{ uselessSkill }} so she studied programming instead. <br>
				
				What a great decision! With her new skills, {{ name }} built a(n) {{ adjective }} robot named {{ obnoxiuous }} that not only loved {{ dirtyTask }} but did it {{ number }} faster.
			</p>
				</div>
				</div>
			</div>
		</section>
	</body>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
</html>