<!DOCTYPE html>
<html lang="en" ng-app="madLibs">
  <head>
    <meta charset="UTF-8">
    <title>MadLibs</title>
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="InputValidation as input" >
    <header class="container">
      <div class="row">
        <div class="col-md-2"><img class="face" src="images/mad-lib-happy-face.png" alt="smiling face"></div>
        <div class="col-md-8 col-md-offset-2 title"><img src="images/ng-mad-libs-logo.png" alt="Mad Libs with Angular Logo"></div>
      </div>
    </header>
    <!--input.resultsMadLibs is initialized to false in app.js, So !false===ture, then #idPickWords is going to be VISIBLE when ng-show="" is set to TRUE in this case it will Show!-->
    <section id="pickWords" ng-show="!input.resultMadLib">

      <h3>Please Provide the Following words:</h3>

      <h4>pick one: <button ng-click="input.changeGender('male')" ng-class="{selected: input.gender === 'male'}">Male</button>
      <button ng-click="input.changeGender('female')" ng-class="{selected: input.gender === 'female'}">female</button> </h4>

    <form name="input.madInput" ng-submit="input.displayMadLibs()" novalidate>
    <div class="container ">
      <div class="row boxWrapper">
        <div class="col-md-4">
           <input class="box" name="name" type="text" ng-model="input.name"  placeholder="name" required ng-pattern="/^[A-Z]/"/>
          <input class="box" name="job_title" type="text" ng-model="input.jobTitle" placeholder="Job Title" required/>
          <input class="box" name="tedious_task" type="text" ng-model="input.tediousTask" placeholder="Tedious Task" required/>
        </div>
        <div class="col-md-4">
          <input class="box" name="dirty_task" type="text" ng-model="input.dirtyTask" placeholder="Dirty task" required/>
          <input class="box" name="celebrity" type="text" ng-model="input.celebrity" placeholder="Celebrity" required/>
          <input class="box" name="useless_skill" type="text" ng-model="input.uselessSkill" placeholder="Useless skill" required/>
        </div>
        <div class="col-md-4">
          <input class="box" name="obnoxious_celebrity" type="text" ng-model="input.obnoxious" placeholder="Obnoxious celebrity" required/>
          <input class="box" name="huge_number" type="number" ng-model="input.number" placeholder="huge number" ng-minlength="6" required/>
          <input class="box" name="adjective" type="text" ng-model="input.adjective" placeholder="Adjective" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 buttonWrapper">
          <button class="btn btn-default pull-right">
          Show MadLibs
          </button>
        </div> 
      </div>
    </div>
    </form>

    <ul id="error"> 
      <li ng-if="input.madInput.$submitted && input.madInput.name.$error.required" ng-class="animationError">Person Name is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.name.$error.pattern">Capitalize the person Name</li>
      <li ng-if="input.madInput.$submitted && input.madInput.job_title.$error.required">Job Title is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.tedious_task.$error.required">Tedious Task is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.dirty_task.$error.required">Dirty Task is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.celebrity.$error.required">Think of a Celebrity, it is required!!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.useless_skill.$error.required">Useless Skills is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.obnoxious_celebrity.$error.required">Type an annoying Celebrity because it is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.huge_number.$error.required">think of a Huge Number, it is required!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.huge_number.$error.minlength">Number must be 6 digits or more!</li>
      <li ng-if="input.madInput.$submitted && input.madInput.adjective.$error.required">Adjective is required!</li>

    </ul>


  </section>
<!--input.resultsMadLibs is initialized to false in app.js, but when the submit button of form is trigered then that value changes to TRUE  So input.resultMadLib===ture, then #idPickWords is going to be invisible when ng-show="" is set to False, and when #results changes to TRUE then it will be visible!! :)-->
  <section id="result" ng-show="input.resultMadLib">
    <div class="content">
      <div class="row">
        <div class="col-md-12 madlib">
          <p>
            <span>{{ input.name }}</span> was a <span>{{ input.jobTitle }}</span> who loved technology. Although {{input.gender=='female' ? 'she' : 'he'}} loved parts of {{input.gender=='female' ? 'her' : 'his'}} job, {{input.gender=='female' ? 'she' : 'he'}} absolutely hated <span>{{ input.tediousTask }}</span> and <span>{{ input.dirtyTask }}</span>. So, <span>{{ name }}</span> met with {{input.gender=='female' ? 'her' : 'his'}} life mentor <span>{{ input.celebrity }}</span> who told {{input.gender=='female' ? 'her' : 'his'}} to learn how to <span>{{ input.uselessSkill }}</span> with Thinkful. Thinkful didn't offer a course on <span>{{ input.uselessSkill }}</span> so {{input.gender=='female' ? 'she' : 'he'}} studied programming instead. <br>
            
            What a great decision! With {{input.gender=='female' ? 'her' : 'his'}} new skills, <span>{{ input.name }}</span> built a(n) <span>{{ input.adjective }}</span> robot named <span>{{ input.obnoxious }}</span> that not only loved <span>{{ input.dirtyTask }}</span> but did it <span>{{ input.number }}</span> times faster.
          </p>
          <button ng-click="input.startOver()" class="btn btn-default pull-left">
          Start Over
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="application/javascript" src="app/prefixfree.min.js"></script>
<script src="app/app.js"></script>
</html>